.tab-bar{
    width: 100%;
    height: 50px;
    background: #fafbfa;
    position: fixed;
    bottom: 0;
    left: 0; 
}
.tab-bar ul{
    display: flex;
    justify-content: space-around;
}

.tab-bar li{
    list-style: none;
    float: left;
}
.tab-bar li a{
    color: #929192;
    font-size: 18px;
}


.topNav{
    height:50px ;
    background-color: #ff3964;
}
.topNav ul{
   display: flex; 
   margin: 0px;
   padding: 0px;
}
.topNav li{
   padding: 10px;
   float: left;
   text-align: center;
   list-style: none;
 }
 .topNav li a{
    color: #ffffff;
    font-size: 18px;
  }
