.header{
    width: 100%;
    margin: 20px;
}
.input{
    width: 350px;
    height: 30px;
    border-radius:17px;
    text-align: left;
    left: 20px;
    background-color: #e9e7e7;
}
.span{
    font-size: 18px;
    margin-top: -5px;
    margin-right: 20px;
    float: right;
}
.ider{
    background-color: #e9e7e7;
}
.b{
    color: #585858;
    font-size: 16px;
}
.formerly{
    color: #6e6c6c;
    font-size: 16px;
}
.but{
    font-size: 16px;
    float: right;
}
.tag{
    height: 35px;
    margin: 5px;
    border-radius:17px;
    font-size: 15px;
    line-height: 35px;
    background-color: #e9e7e7;
}
.content{
    margin: 10px;
}
.footer{
    margin: 10px;
}